/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}



/* ==== Palette ==== */

.dark-primary-color    { background: #689F38; }
.default-primary-color { background: #8BC34A; }
.light-primary-color   { background: #DCEDC8; }
.text-primary-color    { color: #212121; }
.accent-color          { background: #03A9F4; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

/* ==== Main styles ==== */

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	direction: rtl;
	background-color: #FCFDFD;
}

.appLinks {
    margin-top: 30px;
    display: none;
}

.page {
    background-color: #B4D0DC;
    padding: 0 15px 5px 15px;
    background-clip: content-box;
}

.searchPanel {
    margin-bottom: 10px;
    border-bottom: 2px solid #b6b6b6;
    padding: 15px 35px 15px 15px;
}

.editPanel {
    padding: 15px 35px 15px 15px;
}

.searchResults {
    padding: 0 25px 0 15px;
}

.table>thead>tr>th {
    border-bottom:2px solid #6678b1;
}

.searchTable {
    background:#fff;
	border-radius: 5px;
}

.searchTable caption {
    padding-right: 8px;
    color: rgb(51,51,51);
    font-weight: bold;
}

.searchTable th:first-of-type, .searchTable th:last-of-type, 
.searchTable tr:last-of-type td:last-of-type, .searchTable tr:last-of-type td:first-of-type {
	border-top-right-radius: inherit;
}

.searchTable tr:nth-child(even) {
	background-color: #eee;
}

.searchTable tbody tr:hover {
	background-color: #CCC;
}

.btn-search {
    margin-top: 26px;
}

textarea.form-control {
	resize: none;
	height: 100px;
}

/* ==== Headers  ==== */

h1.pageTitle {
    background-color: #4399C7;
    color: #212121;
	text-shadow: 0px 1px white;
    margin: 20px 0;
    padding-right: 15px;
}

/* ==== Login  ==== */

.loginForm {
	width: 600px;
	position: absolute;
	right: 50%;
	top: 20%;
	transform: translateX(50%);

    border: 2px solid #b6b6b6;
    border-radius: 10px;
    
    padding: 15px;
}

.loginForm .form-group:last-of-type {
    margin-bottom: 0;
}

.moment-picker .header-view th:first-child, .moment-picker .header-view th:last-child {
    transform:rotate(180deg);
}


.spinner-container {
    display: none;
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-color: rgba(0,0,0,.5);
}