<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>Play Simple</title>
    <!-- <link rel="stylesheet" href="css/normalize.css"> -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="css/bootstrap-rtl.css" />
    <link href="css/angular-moment-picker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
</head>

<body> 
    <div class="container">
        <nav class="appLinks" ng-class="{'show': !sharedVariables.isLogin}">
            <ul class="nav nav-pills">
                <li role="presentation" class="active">
                    <a href="#/searchAvailableOrders">הזמן</a>
                </li>
                <li role="presentation">
                    <a href="#/ownedOrders">צפה בהזמנות</a>
                </li>

                <li role="presentation">
                    <a href="#/pendingOrdersToJoin">בקשות ההצטרפות שלי</a>
                </li>

                <li role="presentation">
                    <a href="#/searchAvailableOrdersToJoin">הצטרף למגרש</a>
                </li>

                <li role="presentation">
                    <a href="#/searchOrders">צפייה בהזמנות - עובד</a>
                </li>

                <li role="presentation">
                    <a href="#/searchCustomers">חפש לקוחות</a>
                </li>

                <li role="presentation" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> הפקת דוחות <span class="caret"></span> </a>
                    <ul class="dropdown-menu">
                        <li><a href="#/reportCustomer">פעילות לקוח</a></li>
                        <li><a href="#/reportComplaint">תלונות</a></li>
                        <li><a href="#/reportFields">שימוש במגרשים</a></li>
                    </ul>
                </li>

                <li role="presentation">
                    <a href="#/searchFields">חיפוש מגרשים</a>
                </li>

                <li role="presentation">
                    <a href="#/editField">עריכת מגרשים</a>
                </li>

                <li role="presentation">
                    <a href="#/searchEmployees">חיפוש עובדים</a>
                </li>

                <li role="presentation">
                    <a href="#/editEmployee" ng-show="sharedVariables.role == 'Admin'">צור עובד</a>
                </li>

                <li role="presentation">
                    <a href="" ng-click="logout()">התנתק</a>
                </li>
            </ul>
        </nav>
        <div ng-view>
        </div>
    </div>
    <div class="spinner-container" ng-class="{'show': spinnerActive}">
        <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner"></span>
    </div>

    <!--<div class="pageContainer">
        <nav class="appLinks" ng-class="{'appLinks-after-login': !sharedVariables.isLogin}">
            <a href="#/searchAvailableOrders">הזמן</a>
            <a href="#/ownedOrders">צפה בהזמנות</a>
            <a href="">הצטרף למגרש</a>
            <a href="">אישור הזמנות</a>
            <a href="#/searchCustomers">חפש לקוחות</a>
            <a href="">הפקת דוחות</a>
            <a href="#/searchFields">חיפוש מגרשים</a>
            <a href="#/editField">עריכת מגרשים</a>
            <a href="#/searchEmployees">חיפוש עובדים</a>
            <a href="#/editEmployee" ng-show="sharedVariables.role == 'Admin'">צור עובד</a>
            <a href="#/reportCustomer">דוח פעילות לקוח</a>
            <a href="#/reportComplaint">דוח תלונות</a>
            <a href="" ng-click="logout()">התנתק</a>
        </nav>-->

    <!--</div>-->

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-route.js"></script>

    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>

    <script src="js/ui-bootstrap-2.1.3.js"></script>
    <script src="js/ui-bootstrap-tpls-2.1.3.js"></script>

    <script src="js/moment-with-locales.js"></script>
    <script src="js/angular-moment-picker.min.js"></script>

    <script src="js/spin.min.js"></script>
    <script src="js/angular-spinner.js"></script>
</body>
</html>