		<h1 class="pageTitle">פרטי לקוח</h1>
				
		<form class="page clearfix">
			<fieldset>
				<div class="fieldContainer threePerRow">
					<label>שם משתמש</label><input disabled>
				</div>			
				<div class="fieldContainer threePerRow">
					<label>שם פרטי</label><input>
				</div>		
				<div class="fieldContainer threePerRow">
					<label>שם משפחה</label><input>
				</div>			
				<div class="fieldContainer threePerRow">
					<label>סיסמה נוכחית</label><input>
				</div>			
				<div class="fieldContainer threePerRow">
					<label>סיסמה חדשה</label><input type="password">
				</div>				
				<div class="fieldContainer threePerRow">
					<label>אימות סיסמה</label><input>
				</div>
				<div class="fieldContainer threePerRow">
					<label>תאריך לידה</label><input>
				</div>					
				<div class="fieldContainer threePerRow">
					<label>אימייל</label><input>
				</div>				
				<div class="fieldContainer threePerRow">
					<label>מגורים</label><select>
						<option>ירושלים</option>
						<option>גוש דן</option>
						<option>חיפה</option>
					</select>
				</div>	
			</fieldset>
			<fieldset>
				<div class="fieldContainer fullLine newLine">
					על משתמש זה נכתבו <a href="">4 חוות דעת</a>. <span>השאר חוות דעת (0/1000)</span>
				</div>				
				<div class="fieldContainer newLine">
					<label class="padLeft">כותרת</label><input>
				</div>
				<div class="fieldContainer fullLine newLine">
					<textarea class="fullLine"></textarea>
				</div>				
				<div class="fieldContainer fullLine newLine">
					<input type="button" value="שלח" class="btn pullLeft">			
				</div>
			</fieldset>	
			<fieldset>
				<div class="fieldContainer fullLine newLine">
					המשתמש פגע בך? ספר לנו! <span>(0/1000)</span>
				</div>				
				<div class="fieldContainer newLine">
					<label class="padLeft">סוג</label><select>
						<option></option>
						<option>אי תשלום</option>							
						<option>אי הגעה למשחק</option>
						<option>חוסר ספורטיביות</option>				
					</select>
				</div>
				<div class="fieldContainer fullLine newLine">
					<textarea class="fullLine"></textarea>
				</div>				
				<div class="fieldContainer fullLine newLine">
					<input type="button" value="שלח" class="btn pullLeft">			
				</div>
			</fieldset>				
			<div class="fieldContainer fullLine newLine horizontalFieldsetPadding">
				<input type="button" value="שמור" class="btn pullLeft">
				<input type="button" value="בטל שינויים" class="btn btn-secondary pullLeft">
				<input type="button" value="צפה בחוות דעת" class="btn btn-secondary pullLeft">
				<input type="button" value="הקפא חשבון" class="btn btn-danger pullLeft">				
			</div>
		</form>