<h1 class="pageTitle">פרטי מגרש</h1>
		
<form class="page clearfix">
	<fieldset>
		<div class="fieldContainer threePerRow">
			<label>מזהה</label><input disabled>
		</div>			
		<div class="fieldContainer threePerRow">
			<label>שם</label><input>
		</div>	
		<div class="fieldContainer threePerRow">
			<label>גודל</label><select>
				<option>קטן</option>
				<option>בינוני</option>
				<option>גדול</option>
			</select>
		</div>					
		<div class="fieldContainer fullLine newLine">
			<input type="radio" name="fieldType"><span>כדורגל</span>
			<input type="radio" name="fieldType"><span>כדורסל</span>
			<input type="radio" name="fieldType"><span>טניס</span>
			<input type="radio" name="fieldType"><span>כדורעף</span>
		</div>				
	</fieldset>
	<div class="fieldContainer fullLine newLine horizontalFieldsetPadding">
		<input type="button" value="שמור" class="btn pullLeft">
		<input type="button" value="בטל שינויים" class="btn btn-secondary pullLeft">
		<input type="button" value="מחק" class="btn btn-danger pullLeft">
	</div>
</form>