		<h1 class="pageTitle">חיפוש מגרשים פנויים</h1>
		
		<div class="page">
			<div class="searchPanel clearfix">
				<form>
					<div class="fieldContainer threePerRow newLine">
						<label>מספר מגרש</label><input>				
					</div>
					<div class="fieldContainer threePerRow">
						<label>שם מגרש</label><input>				
					</div>					
					<div class="fieldContainer threePerRow newLine">
						<label>מתאריך</label><input>				
					</div>
					<div class="fieldContainer threePerRow">
						<label>עד תאריך</label><input>				
					</div>
					<div class="fieldContainer threePerRow newLine">
						<label>משחק</label><select>
							<option>כדורגל</option>
							<option>כדורסל</option>
							<option>כדורעף</option>
							<option>טניס</option>
						</select>
					</div>
					<div class="fieldContainer threePerRow pullLeft newLine">
						<input type="button" value="חפש" class="btn">
					</div>					
				</form>
			</div>
			<table class="searchTable">
				<thead>
					<th>מזהה</th>
					<th>מגרש</th>
					<th>תאריך</th>
					<th>פעולות</th>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>מגרש טניס גדול</td>
						<td>01/04/2016 18:00 - 20:00</td>
						<td><span class="tableAction">הזמן</span></td>
					</tr>
					<tr>
						<td>2</td>
						<td>מגרש טניס קטן</td>
						<td>18/09/2016 20:00 - 22:00</td>
						<td><span class="tableAction">הזמן</span></td>
					</tr>
					<tr>
						<td>3</td>
						<td>כדורסל חדש</td>
						<td>01/04/2016 18:00 - 20:00</td>
						<td><span class="tableAction">הזמן</span></td>
					</tr>
					<tr>
						<td>4</td>
						<td>כדורגל ישן</td>
						<td>18/09/2016 20:00 - 22:00</td>
						<td><span class="tableAction">הזמן</span></td>
					</tr>
				</tbody>
			</table>
		</div>