		<h1 class="pageTitle">פרטי עובד</h1>
		
		<form class="page clearfix">
			<fieldset>
				<div class="fieldContainer threePerRow">
					<label>מזהה</label><input disabled>
				</div>			
				<div class="fieldContainer threePerRow">
					<label>שם פרטי</label><input>
				</div>			
				<div class="fieldContainer threePerRow">
					<label>שם משפחה</label><input type="password">
				</div>				
				<div class="fieldContainer threePerRow">
					<label>משכורת</label><input>
				</div>		
				<div class="fieldContainer threePerRow">
					<label>אימייל</label><input>
				</div>		
			</fieldset>
			<div class="fieldContainer fullLine newLine horizontalFieldsetPadding">
				<input type="button" value="שמור" class="btn pullLeft">
				<input type="button" value="בטל שינויים" class="btn btn-secondary pullLeft">
				<input type="button" value="מחק" class="btn btn-danger pullLeft">
			</div>
		</form>