<div class="row">
    <div class="col-sm-12">
        <h1 class="pageTitle">פרטי לקוח</h1>
    </div>
</div>

<div class="row page">
    <div class="col-sm-12 editPanel">
        <form class="form-horizontal">
            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label>שם משתמש</label>
                        <input disabled class="form-control" type="text" ng-model="model.Username" />
                    </div>
                </div>
                <div class='col-sm-offset-1 col-sm-3'>
                    <div class='form-group'>
                        <label>שם פרטי</label>
                        <input class="form-control" type="text" ng-model="model.FirstName" />
                    </div>
                </div>
                <div class='col-sm-offset-1 col-sm-3'>
                    <div class='form-group'>
                        <label>שם משפחה</label>
                        <input class="form-control" type="text" ng-model="model.LastName" />
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label>סיסמה נוכחית</label>
                        <input class="form-control" type="password" ng-model="model.LastName" />
                    </div>
                </div>
                <div class='col-sm-offset-1 col-sm-3'>
                    <div class='form-group'>
                        <label>סיסמה חדשה</label>
                        <input class="form-control" type="password" ng-model="model.Password" />
                    </div>
                </div>
                <div class='col-sm-offset-1 col-sm-3'>
                    <div class='form-group'>
                        <label>אימות סיסמה</label>
                        <input class="form-control" type="password" ng-model="model.Username" />
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label>תאריך לידה</label>
                        <input class="form-control" type="text" ng-model="model.BirthDate" />
                    </div>
                </div>
                <div class='col-sm-offset-1 col-sm-3'>
                    <div class='form-group'>
                        <label>אימייל</label>
                        <input class="form-control" type="password" ng-model="model.Email" />
                    </div>
                </div>
                <div class='col-sm-offset-1 col-sm-3'>
                    <div class='form-group'>
                        <label>מגורים</label>
                        <select class="form-control" ng-model="model.Region"
                                ng-options="type.id as type.name for type in regionTypes">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-sm-offset-8">
                    <button type="submit" class="btn btn-danger btn-block btn-search">בטל שינויים</button>
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary btn-block btn-search">שמור</button>
                </div>
                <div class="col-sm-offset-6 col-sm-2">
                    <button type="submit" class="btn btn-danger btn-block btn-search">הקפא חשבון</button>
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-default btn-block btn-search">צפה בתלונות</button>
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-default btn-block btn-search">צפה בחוות דעות</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row page">
    <div class="col-sm-12 editPanel">
        <form class="form-horizontal">
            <div class="row">
                <div class="col-sm-12" style="padding-right: 0; font-weight: bold" >
                    על משתמש זה נכתבו <a href="">4 חוות דעת</a>. <span>השאר חוות דעת (0/1000)</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12"  style="margin: 10px 0;   padding-right: 0">
                    <label style="margin-left: 5px;">כותרת</label>
                    <input class="form-control" type="text" style="width: auto; display: inline-block" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11">
                    <div class='form-group'>
                        <textarea class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-10 col-sm-2">
                    <button type="submit" class="btn btn-default btn-block btn-search">שלח</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row page">
    <div class="col-sm-12 editPanel">
        <form class="form-horizontal">
            <div class="row">
                <div class="col-sm-12" style="padding-right: 0; font-weight: bold">
                    המשתמש פגע בך? ספר לנו! <span>(0/1000)</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="margin: 10px 0;   padding-right: 0">
                    <label style="margin-left: 5px;">סוג</label>
                    <select class="form-control" style="width: auto; display: inline-block; min-width: 200px">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11">
                    <div class='form-group'>
                        <textarea class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-10 col-sm-2">
                    <button type="submit" class="btn btn-default btn-block btn-search">שלח</button>
                </div>
            </div>
        </form>
    </div>
</div>