<h1 class="pageTitle">פרטי מגרש</h1>
		
<form class="page clearfix">
	<fieldset>
		<div class="fieldContainer threePerRow">
			<label>מזהה</label><input disabled ng-model="model.Id">
		</div>			
		<div class="fieldContainer threePerRow">
			<label>שם</label><input ng-model="model.Name">
		</div>	
		<div class="fieldContainer threePerRow">
			<label>גודל</label><select ng-model="model.Size" ng-options="size.id as size.name for size in sizes">
            </select>
		</div>					
		<div class="fieldContainer newLine threePerRow">
            <label>סוג</label><select ng-model="model.Type" ng-options="type.id as type.name for type in types">
        </select>
		</div>				
	</fieldset>
	<div class="fieldContainer fullLine newLine horizontalFieldsetPadding">
		<input type="button" value="שמור" class="btn pullLeft" ng-click="submitField()">
		<input type="button" value="בטל שינויים" class="btn btn-secondary pullLeft" ng-click="cancelChanges()">
		<input type="button" value="מחק" class="btn btn-danger pullLeft" ng-click="delete()" ng-hide="isNew">
	</div>
</form>
<pre style="float:left; direction:ltr">
{{model | json}}
</pre>