		<h1 class="pageTitle">פרטי לקוח</h1>
				
		<form class="page clearfix">
			<fieldset>
				<div class="fieldContainer threePerRow">
					<label>שם משתמש</label><input  ng-model="model.Username"  disabled>
				</div>			
				<div class="fieldContainer threePerRow">
					<label>שם פרטי</label><input ng-model="model.FirstName">
				</div>		
				<div class="fieldContainer threePerRow">
					<label>שם משפחה</label><input ng-model="model.LastName">
				</div>			
				<div class="fieldContainer threePerRow">
					<label>סיסמה נוכחית</label><input ng-model="model.LastName">
				</div>			
				<div class="fieldContainer threePerRow">
					<label>סיסמה חדשה</label><input  ng-model="model.Password" type="password">
				</div>				
				<div class="fieldContainer threePerRow">
					<label>אימות סיסמה</label><input ng-model="model.Username" type="password">
				</div>
				<div class="fieldContainer threePerRow">
					<label>תאריך לידה</label><input ng-model="model.BirthDate">
				</div>
                <div class="fieldContainer threePerRow">
                    <label>אימייל</label><input ng-model="model.Email">
                </div>				
				<div class="fieldContainer threePerRow">
					<label>מגורים</label><select ng-model="model.Region"
                            ng-options="type.id as type.name for type in regionTypes">
                    </select>
				</div>	
			</fieldset>
			<fieldset>
				<div class="fieldContainer fullLine newLine">
					על משתמש זה נכתבו <a href="">4 חוות דעת</a>. <span>השאר חוות דעת (0/1000)</span>
				</div>				
				<div class="fieldContainer newLine">
					<label class="padLeft">כותרת</label><input>
				</div>
				<div class="fieldContainer fullLine newLine">
					<textarea class="fullLine"></textarea>
				</div>				
				<div class="fieldContainer fullLine newLine">
					<input type="button" value="שלח" class="btn pullLeft">			
				</div>
			</fieldset>	
			<fieldset>
				<div class="fieldContainer fullLine newLine">
					המשתמש פגע בך? ספר לנו! <span>(0/1000)</span>
				</div>				
				<div class="fieldContainer newLine">
					<label class="padLeft">סוג</label><select>
						<option></option>
						<option>אי תשלום</option>							
						<option>אי הגעה למשחק</option>
						<option>חוסר ספורטיביות</option>				
					</select>
				</div>
				<div class="fieldContainer fullLine newLine">
					<textarea class="fullLine"></textarea>
				</div>				
				<div class="fieldContainer fullLine newLine">
					<input type="button" value="שלח" class="btn pullLeft">			
				</div>
			</fieldset>				
			<div class="fieldContainer fullLine newLine horizontalFieldsetPadding">
				<input type="button" value="שמור" class="btn pullLeft">
				<input type="button" value="בטל שינויים" class="btn btn-secondary pullLeft">
				<input type="button" value="צפה בחוות דעת" class="btn btn-secondary pullLeft">
				<input type="button" value="הקפא חשבון" class="btn btn-danger pullLeft">				
			</div>
		</form>