<div class="row">
    <div class="col-sm-12">
        <h1 class="pageTitle">פרטי עובד</h1>
    </div>
</div>

<div class="row page">
    <div class="col-sm-12 editPanel">
        <form class="form-horizontal" name="employeeForm" ng-submit="submitEmployee(employeeForm.$valid)" novalidate>

            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label>מזהה</label>
                        <input disabled class="form-control" type="number" ng-model="model.employee.Id" />
                    </div>
                </div>
                <div class='col-sm-offset-1 col-sm-3'>
                    <div class='form-group' ng-class="{ 'has-error' : employeeForm.firstName.$invalid && submitted }">
                        <label>שם פרטי</label>
                        <input name="firstName" class="form-control" type="text" ng-model="model.employee.FirstName" required ng-maxlength="20"/>
                        <div class="callout" ng-show="employeeForm.firstName.$invalid && submitted">
                            <div ng-show="employeeForm.firstName.$error.required && submitted">יש להזין שם פרטי</div>
                            <div ng-show="employeeForm.firstName.$error.maxlength && submitted">שם פרטי חייב להיות קטן מ-20 תווים</div>
                        </div>
                    </div>
                </div>
                <div class='col-sm-push-1 col-sm-3'>
                    <div class='form-group' ng-class="{ 'has-error' : employeeForm.lastName.$invalid && submitted }">
                        <label>שם משפחה</label>
                        <input name="lastName" class="form-control" type="text" ng-model="model.employee.LastName" required ng-maxlength="20"/>
                        <div class="callout" ng-show="employeeForm.lastName.$invalid && submitted">
                            <div ng-show="employeeForm.lastName.$error.required && submitted">יש להזין שם משפחה</div>
                            <div ng-show="employeeForm.lastName.$error.maxlength && submitted">שם משפחה חייב להיות קטן מ-20 תווים</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group' ng-class="{ 'has-error' : employeeForm.username.$invalid && submitted }">
                        <label>שם משתמש</label>
                        <input  name="username" class="form-control" type="text" ng-model="model.employee.Username" ng-disabled="!isNew" required/>
                        <div class="callout" ng-show="employeeForm.username.$invalid && submitted">
                            <div ng-show="employeeForm.username.$error.required && submitted">יש להזין שם משתמש</div>
                        </div>
                    </div>
                </div>
                <div class='col-sm-offset-1 col-sm-3' ng-show="isNew">
                    <div class='form-group' ng-class="{ 'has-error' : employeeForm.password.$invalid && submitted }">
                        <label>סיסמה</label>
                        <input name="password" class="form-control" type="password" ng-model="model.employee.Password" ng-required="isNew" equals="{{model.verifiedPassword}}" />
                        <div class="callout" ng-show="employeeForm.password.$invalid && submitted">
                            <div ng-show="employeeForm.employeeForm.$error.required && submitted">יש להזין סיסמה</div>
                            <div ng-show="employeeForm.password.$error.equals && submitted">הסיסמאות אינן מתאימות</div>
                        </div>
                    </div>
                </div>
                <div class='col-sm-push-1 col-sm-3' ng-show="isNew">
                    <div class='form-group' ng-class="{ 'has-error' : employeeForm.verifyPassword.$invalid && submitted }">
                        <label>אימות סיסמה</label>
                        <input name="verifyPassword" class="form-control" type="password" ng-model="model.verifiedPassword" ng-required="isNew" equals="{{model.employee.Password}}" />
                        <div class="callout" ng-show="employeeForm.verifyPassword.$invalid && submitted && isNew">
                            <div ng-show="employeeForm.verifyPassword.$error.required && submitted">יש להזין סיסמה שוב</div>
                            <div ng-show="employeeForm.verifyPassword.$error.equals && submitted">הסיסמאות אינן מתאימות</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='row' ng-show="!isNew">
                <div class='col-sm-3'>
                    <div class='form-group' ng-class="{ 'has-error' : employeeForm.currentPassword.$invalid && submitted }">
                        <label>סיסמה נוכחית</label>
                        <input name="currentPassword" class="form-control" type="password" ng-model="model.passwordChanging.current" ng-required="model.passwordChanging.new" equalsornull="{{model.employee.Password}}"/>
                        <div class="callout" ng-show="employeeForm.currentPassword.$invalid && submitted">
                            <div ng-show="employeeForm.currentPassword.$error.equalsornull && submitted">הסיסמא אינה הסיסמא הנוכחית</div>
                            <div ng-show="employeeForm.currentPassword.$error.required && submitted">יש להזין סיסמר נוכחית</div>
                        </div>                  
                    </div>
                </div>
                <div class='col-sm-offset-1 col-sm-3'>
                    <div class='form-group' ng-class="{ 'has-error' : employeeForm.newPassword.$invalid && submitted }">
                        <label>סיסמה חדשה</label>
                        <input name="newPassword" class="form-control" type="password" ng-model="model.passwordChanging.new" equals="{{model.passwordChanging.newVerify}}" />
                        <div class="callout" ng-show="employeeForm.newPassword.$invalid && submitted">
                            <div ng-show="employeeForm.newPassword.$error.equals && submitted">הסיסמא החדשה שונה מסיסמת האימות</div>
                        </div>
                    </div>
                </div>
                <div class='col-sm-offset-1 col-sm-3'>
                    <div class='form-group'>
                        <label>אימות סיסמא חדשה</label>
                        <input name="newVerifyPassword" class="form-control" type="password" ng-model="model.passwordChanging.newVerify" />
                        <!--<div class="callout" ng-show="employeeForm.newVerifyPassword.$invalid && submitted">
                            <div ng-show="employeeForm.newVerifyPassword.$error.equalsornull && submitted">סיסמת האימות שונה מהסיסמא החדשה</div>
                        </div>-->
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group' ng-class="{ 'has-error' : employeeForm.salary.$invalid && submitted }">
                        <label>משכורת</label>
                        <input name="salary" class="form-control" type="number" ng-model="model.employee.Salary" min="1" required />
                        <div class="callout" ng-show="employeeForm.salary.$invalid && submitted">
                            <div ng-show="employeeForm.salary.$error.required && submitted">יש להזין משכורת</div>
                            <div ng-show="employeeForm.salary.$error.min && employeeForm.salary.$error.number && submitted">משכורת חייבת להיות מספר חיובי</div>
                        </div>
                    </div>
                </div>
                <div class='col-sm-offset-1 col-sm-3'>
                    <div class='form-group' ng-class="{ 'has-error' : employeeForm.email.$invalid && submitted }">
                        <label>אימייל</label>
                        <input name="email" class="form-control" type="email" ng-model="model.employee.Email" required />
                        <div class="callout" ng-show="employeeForm.email.$invalid && submitted">
                            <div ng-show="employeeForm.email.$error.required && submitted">יש להזין אימייל</div>
                            <div ng-show="employeeForm.email.$error.email && submitted">כותבת אימייל אינה חוקית</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class="col-sm-1 col-sm-offset-9" ng-hide="isNew">
                    <button type="button" class="btn btn-danger btn-block" ng-click="delete()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>מחק</button>
                </div>
                <div class="col-sm-1" ng-class="{'col-sm-offset-10': isNew}">
                    <button type="button" class="btn btn-default btn-block" ng-click="cancelChanges()"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>בטל</button>
                </div>
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-primary btn-block">שמור<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group form-errors text-danger" ng-show="employeeForm.$invalid && submitted" ng-class="{ 'has-error' : employeeForm.$invalid && submitted }">
            <p class="form-control-static">יש לתקן את השגיאות בשדות האדומים</p>
        </div>
    </div>
</div>

<pre style="float:left; direction:ltr">
    {{model.employee | json}}
</pre>
