<h1 class="pageTitle">פרטי מגרש</h1>
		
<form class="page clearfix">
	<fieldset>
		<div class="fieldContainer threePerRow">
			<label>מזהה</label><input disabled ng-model="model.Id">
		</div>			
		<div class="fieldContainer threePerRow">
			<label>שם</label><input ng-model="model.Name">
		</div>	
		<div class="fieldContainer threePerRow">
			<label>גודל</label><select ng-model="model.Size">
				<option value="1">קטן</option>
				<option value="2">בינוני</option>
				<option value="3">גדול</option>
			</select>
		</div>					
		<div class="fieldContainer newLine threePerRow">
            <label>סוג</label><select ng-model="model.Type">
                <option value="1">כדורגל</option>
                <option value="2">כדורסל</option>
                <option value="3">טניס</option>
            </select>
		</div>				
	</fieldset>
	<div class="fieldContainer fullLine newLine horizontalFieldsetPadding">
		<input type="button" value="שמור" class="btn pullLeft" ng-click="submitField()">
		<input type="button" value="בטל שינויים" class="btn btn-secondary pullLeft" ng-click="cancelChanges()">
		<input type="button" value="מחק" class="btn btn-danger pullLeft" ng-click="delete()" ng-hide="isNew">
	</div>
    <pre>
        {{model | json}}
    </pre>
</form>