		<h1 class="pageTitle">בקשות להצטרפות שלי</h1>
		
		<div class="page">
			<div class="searchPanel clearfix">
				<form>
				<div class="fieldContainer threePerRow newLine">
						<label>מספר מזמין</label><input>				
					</div>
					<div class="fieldContainer threePerRow">
						<label>שם מזמין</label><input>				
					</div>
				<div class="fieldContainer threePerRow newLine">
						<label>מספר הזמנה</label><input>				
					</div>
					<div class="fieldContainer threePerRow">
						<label>סטטוס</label><select>
							<option>ממתין לאישור</option>
							<option>אושר</option>
							<option>בוטל</option>
						</select>
					</div>
					<div class="fieldContainer threePerRow newLine">
						<label>מספר מגרש</label><input>				
					</div>
					<div class="fieldContainer threePerRow">
						<label>שם מגרש</label><input>				
					</div>					
					<div class="fieldContainer threePerRow newLine">
						<label>מתאריך</label><input>				
					</div>
					<div class="fieldContainer threePerRow">
						<label>עד תאריך</label><input>				
					</div>
					
					<div class="fieldContainer threePerRow pullLeft newLine">
						<input type="button" value="חפש" class="btn">
					</div>					
				</form>
			</div>
			<table class="searchTable">
				<thead>
					<th>הזמנה</th>
					<th>מגרש</th>
					<th>תאריך</th>
					<th>לקוח מזמין</th>
					<th>סטטוס הזמנה</th>
					<th>סטטוס בקשה</th>
					<th>פעולות</th>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>10 - מגרש טניס גדול</td>
						<td>01/04/2016 18:00 - 20:00</td>
						<td>3 - דותן לקס</td>
						<td>אושר</td>
						<td>אושר</td>
						<td><span class="tableAction">בטל</span></td>
					</tr>
					<tr>
						<td>2</td>
						<td>20 - מגרש טניס קטן</td>
						<td>18/09/2016 20:00 - 22:00</td>
						<td>3 - דותן לקס</td>
						<td>ממתין לאישור</td>
						<td>אושר</td>
						<td><span class="tableAction">בטל</span></td>
					</tr>
					<tr>
						<td>3</td>
						<td>13 - כדורסל חדש</td>
						<td>01/04/2016 18:00 - 20:00</td>
						<td>3 - דותן לקס</td>
						<td>אושר</td>
						<td>ממתין לאישור</td>
						<td><span class="tableAction">בטל</span></td>
					</tr>
					<tr>
						<td>4</td>
						<td>7 - כדורגל ישן</td>
						<td>18/09/2016 20:00 - 22:00</td>
						<td>3 - דותן לקס</td>
						<td>בוטל</td>
						<td>נדחה</td>
						<td><span class="tableAction">בטל</span></td>
					</tr>
				</tbody>
			</table>
		</div>