		<h1 class="pageTitle">ההזמנות שלי</h1>
		
		<div class="page">
			<div class="searchPanel clearfix">
				<form>
				    <div class="fieldContainer threePerRow newLine">
						<label>מספר הזמנה</label><input ng-model="model.orderId">			
					</div>
					<div class="fieldContainer threePerRow">
						<label>סטטוס</label><select ng-model="model.orderStatusId" ng-options="type.id as type.name for type in types">
                            <option value=""></option>
                        </select>
					</div>
					<div class="fieldContainer threePerRow newLine">
						<label>מספר מגרש</label><input ng-model="model.fieldId">			
					</div>
					<div class="fieldContainer threePerRow">
						<label>שם מגרש</label><input ng-model="model.fieldName">			
					</div>					
					<div class="fieldContainer threePerRow newLine">
						<label>מתאריך</label><input ng-model="model.fromDate" type="date">				
					</div>
					<div class="fieldContainer threePerRow">
						<label>עד תאריך</label><input ng-model="model.untilDate" type="date">			
					</div>
					<div class="fieldContainer threePerRow pullLeft newLine">
						<input type="button" value="חפש" class="btn"  ng-click="submitSearch()">
					</div>					
				</form>
			</div>
			<table class="searchTable">
				<thead>
					<th>הזמנה</th>
					<th>מגרש</th>
					<th>תאריך</th>
					<th>סטטוס</th>
					<th>פעולות</th>
				</thead>
				<tbody>
                    <tr ng-repeat="row in results">
                        <td>{{row.Id}}</td>
                        <td>{{row.Field.Id}} - {{row.Field.Name}}</td>
                        <td>{{row.StartDate | date}}</td>
                        <td>
                            <div ng-repeat="status in types">
                                <div ng-if="status.id == row.Status">
                                    {{status.name}}
                                </div>
                            </div>
                        </td>
						<td><span class="tableAction">צפה</span></td>
					</tr>
				</tbody>
			</table>
		</div>