<div class="row">
    <div class="col-sm-12">
        <h1 class="pageTitle">ההזמנות שלי</h1>
    </div>
</div>

<div class="row page">
    <div class="col-sm-12 searchPanel">
        <form class="form-horizontal">
            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label>מספר הזמנה</label>
                        <input class="form-control" type="text" ng-model="model.orderId" />
                    </div>
                </div>
                <div class='col-sm-push-1 col-sm-3'>
                    <div class='form-group'>
                        <label>סטטוס</label>
                        <select class="form-control" ng-model="model.orderStatusId" ng-options="type.id as type.name for type in types">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label>מספר מגרש</label>
                        <input class="form-control" type="text" ng-model="model.fieldId" />
                    </div>
                </div>
                <div class='col-sm-push-1 col-sm-3'>
                    <div class='form-group'>
                        <label>שם מגרש</label>
                        <input class="form-control" type="text" ng-model="model.fieldName" />
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label>מתאריך</label>
                        <input class="form-control" type="date" ng-model="model.fromDate" />
                    </div>
                </div>
                <div class='col-sm-push-1 col-sm-3'>
                    <div class='form-group'>
                        <label>עד תאריך</label>
                        <input class="form-control" type="date" ng-model="model.untilDate" />
                    </div>
                </div>
                <div class="col-sm-push-5 col-sm-1">
                    <button type="submit" class="btn btn-primary btn-block btn-search" ng-click="submitSearch()">חפש</button>
                </div>
            </div>
        </form>
    </div>
    <div class="searchResults">
        <table class="table table-hover searchTable">
            <thead>
            <th>הזמנה</th>
            <th>מגרש</th>
            <th>תאריך</th>
            <th>סטטוס</th>
            <th>פעולות</th>
            </thead>
            <tbody>
                <tr ng-repeat="row in results">
                    <td>{{row.Id}}</td>
                    <td>{{row.Field.Id}} - {{row.Field.Name}}</td>
                    <td>{{row.StartDate | dateOrderFilter}}</td>
                    <td>
                        <div ng-repeat="status in types">
                            <div ng-if="status.id == row.Status">
                                {{status.name}}
                            </div>
                        </div>
                    </td>
                    <td><a href="#/editOrder?Id={{row.Id}}">צפה</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>