<div class="row">
    <div class="col-sm-12">
        <h1 class="pageTitle">ההזמנות שלי</h1>
    </div>
</div>

<div class="row page">
    <div class="col-sm-12 searchPanel">
        <form class="form-horizontal">
            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label>מספר הזמנה</label>
                        <input class="form-control" type="number" ng-model="model.orderId" />
                    </div>
                </div>
                <div class='col-sm-push-1 col-sm-3'>
                    <div class='form-group'>
                        <label>סטטוס</label>
                        <select class="form-control" ng-model="model.orderStatusId" ng-options="type.id as type.name for type in types">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label>מספר מגרש</label>
                        <input class="form-control" type="number" ng-model="model.fieldId" />
                    </div>
                </div>
                <div class='col-sm-push-1 col-sm-3'>
                    <div class='form-group'>
                        <label>שם מגרש</label>
                        <input class="form-control" type="text" ng-model="model.fieldName" empty-to-null />
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'
                        moment-picker="model.fromDate"
                        locale="he"
                        format="l"
                        min-view="year"
                        max-view="month"
                        autoclose="true">
                        <label>מתאריך</label>
                        <input class="form-control" type="text" ng-model="model.fromDate" empty-to-null
                               ng-model-options="{ updateOn: 'blur' }" />
                    </div>
                </div>
                <div class='col-sm-push-1 col-sm-3'>
                    <div class='form-group'
                        moment-picker="model.untilDate"
                        locale="he"
                        format="l"
                        min-view="year"
                        max-view="month"
                        autoclose="true">
                        <label>עד תאריך</label>
                        <input class="form-control" type="text" ng-model="model.untilDate" empty-to-null
                               ng-model-options="{ updateOn: 'blur' }" />
                    </div>
                </div>
                <div class="col-sm-push-5 col-sm-1">
                    <button type="submit" class="btn btn-primary btn-block btn-search" ng-click="submitSearch()">חפש</button>
                </div>
            </div>
        </form>
    </div>
    <div class="searchResults">
        <table class="table table-hover searchTable scrollableTable">
            <thead>
            <th ng-click="sortBy('Id')" style="width: 20%">
                <span class="sortorder" ng-show="propertyName === 'Id'" ng-class="{reverse: reverse}"></span>הזמנה
            </th>
            <th ng-click="sortBy('Field.Name')" style="width: 20%">
                <span class="sortorder" ng-show="propertyName === 'Field.Name'" ng-class="{reverse: reverse}"></span>מגרש
            </th>
            <th ng-click="sortBy('StartDate')" style="width: 20%">
                <span class="sortorder" ng-show="propertyName === 'StartDate'" ng-class="{reverse: reverse}"></span>תאריך
            </th>
            <th ng-click="sortBy('Status')" style="width: 20%">
                <span class="sortorder" ng-show="propertyName === 'Status'" ng-class="{reverse: reverse}"></span>סטטוס
            </th>
            <th style="width: 20%">
                פעולות
            </th>
            </thead>
            <tbody>
                <tr ng-repeat="row in results | orderBy:propertyName:reverse">
                    <td style="width: 20%">{{row.Id}}</td>
                    <td style="width: 20%">{{row.Field.Id}} - {{row.Field.Name}}</td>
                    <td style="width: 20%">{{row.StartDate | dateOrderFilter}}</td>
                    <td style="width: 20%">
                        <div ng-repeat="status in types">
                            <div ng-if="status.id == row.Status">
                                {{status.name}}
                            </div>
                        </div>
                    </td>
                    <td ng-if="row.Status == 1 || row.Status == 2" style="width: 20%">
                        <a href="#/editOrder/{{row.Id}}">צפה</a>
                    </td>
                    <td ng-if="row.Status == 3 || row.Status == 4" style="width: 20%">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<pre style="float:left; direction: ltr">
{{model | json}}
</pre>