<h1 class="pageTitle">הרשמה</h1>

<form class="page clearfix">
    <div class="fieldContainer threePerRow">
        <label>שם משתמש</label><input ng-model="model.Username">
    </div>
    <div class="fieldContainer threePerRow">
        <label>סיסמה</label><input ng-model="model.Password" type="password">
    </div>
    <div class="fieldContainer threePerRow">
        <label>אימות סיסמה</label><input ng-model="verifiedPassword" type="password">
    </div>
    <div class="fieldContainer threePerRow">
        <label>שם פרטי</label><input ng-model="model.FirstName">
    </div>
    <div class="fieldContainer threePerRow">
        <label>שם משפחה</label><input ng-model="model.LastName">
    </div>
    <div class="fieldContainer threePerRow">
        <label>אימייל</label><input ng-model="model.Email">
    </div>
    <div class="fieldContainer threePerRow">
        <label>תאריך לידה</label><input ng-model="model.BirthDate" type="date">
    </div>
    <div class="fieldContainer threePerRow">
        <label>מגורים</label><select ng-model="model.Region"
        ng-options="type.id as type.name for type in regionTypes"></select>
    </div>
    <div class="fieldContainer threePerRow pullLeft newLine">
        <input type="button" value="הירשם" class="btn" ng-click="submitCustomer()">
    </div>
</form>

<div>
    {{ model | json }}
</div>