		<h1 class="pageTitle">דוח פעילות לקוח</h1>
		
		<div class="page">
			<div class="searchPanel clearfix">
				<form>
					<div class="fieldContainer threePerRow">
						<label>שם פרטי</label><input ng-model="model.firstName">				
					</div>
					<div class="fieldContainer threePerRow">
						<label>שם משפחה</label><input ng-model="model.lastName">
					</div>
					<div class="fieldContainer threePerRow newLine">
						<label>מגיל</label><input ng-model="model.minAge">
					</div>
					<div class="fieldContainer threePerRow">
						<label>עד גיל</label><input ng-model="model.maxAge">
					</div>
                    <div class="fieldContainer threePerRow newLine">
                        <label>מתאריך</label><input ng-model="model.fromDate" type="date">
                    </div>
                    <div class="fieldContainer threePerRow">
                        <label>עד תאריך</label><input ng-model="model.untilDate" type="date">
                    </div>
					<div class="fieldContainer threePerRow pullLeft newLine">
						<input type="button" value="חפש" class="btn" ng-click="submitSearch()">
					</div>					
				</form>
			</div>
			<table class="searchTable">
				<thead>
					<th>מזהה</th>
					<th>שם פרטי</th>
                    <th>שם משפחה</th>
                    <th class="centeredCell">גיל</th>
                    <th>תאריך משחק אחרון</th>
					<th class="largeCell">מספר הזמנות</th>					
					<th class="centeredCell">מספר הזמנות שביטל</th>
					<th class="centeredCell">מספר הזמנות שהצטרף</th>
				</thead>
                <tbody>
                    <tr ng-repeat="row in results">
                        <td><a href="#/editField/{{row.CoustomerId}}">{{row.CoustomerId}}</a></td>
                        <td>{{row.FirstName}}</td>
                        <td>{{row.LastName}}</td>
                        <td>{{row.Age}}</td>
                        <td>{{row.LastGameDate | date}}</td>
                        <td>{{row.NumberOfOrders}}</td>
                        <td>{{row.NumberOfCanceledOrders}}</td>
                        <td>{{row.NumberOfJoiningAsGuest}}</td>
                    </tr>
                </tbody>
			</table>