<div class="row">
    <div class="col-sm-12">
        <h1 class="pageTitle">דוח מגרשים</h1>
    </div>
</div>

<div class="row page">
    <div class="col-sm-12 searchPanel clearfix">
        <form class="form-horizontal">

            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label>מזהה מגרש</label>
                        <input class="form-control" type="text" ng-model="model.fieldId" />
                    </div>
                </div>
                <div class='col-sm-push-1 col-sm-3'>
                    <div class='form-group'>
                        <label>שם מגרש</label>
                        <input class="form-control" type="text" ng-model="model.fieldName" />
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label>מזהה מגרש</label>
                        <input class="form-control" type="date" ng-model="model.fromDate" />
                    </div>
                </div>
                <div class='col-sm-push-1 col-sm-3'>
                    <div class='form-group'>
                        <label>שם מגרש</label>
                        <input class="form-control" type="date" ng-model="model.untilDate" />
                    </div>
                </div>

                <div class="col-sm-push-5 col-sm-1">
                    <button type="submit" class="btn btn-primary btn-block btn-search" ng-click="submitSearch()">חפש</button>
                </div>
            </div>
        </form>
    </div>
    <div class="searchResults">
        <table class="table table-hover searchTable">
            <thead>
            <th>מזהה</th>
            <th>שם</th>
            <th>ימי חול</th>
            <th>סוף שבוע</th>
            <th>16:00-18:00</th>
            <th>18:00-20:00</th>
            <th>20:00-22:00</th>
            </thead>
            <tbody>
                <tr ng-repeat="row in results">
                    <td><a href="#/editField/{{row.FieldId}}">{{row.FieldId}}</a></td>
                    <td>{{row.FieldName}}</td>
                    <td>{{row.WeekDayOrders}}</td>
                    <td>{{row.WeekEndOrders}}</td>
                    <td>{{row.hours16_18Orders}}</td>
                    <td>{{row.hours18_20Orders}}</td>
                    <td>{{row.hours20_22Orders}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>