<div class="row">
    <div class="col-sm-12">
        <h1 class="pageTitle">צפייה בהזמנות</h1>
    </div>
</div>

<div class="row page">
	<div class="col-sm-12 searchPanel">
		<form class="form-horizontal">

            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label>מספר הזמנה</label>
                        <input class="form-control" type="number" ng-model="model.orderId" />
                    </div>
                </div>
                <div class='col-sm-push-1 col-sm-3'>
                    <div class='form-group'>
                        <label>סטטוס הזמנה</label>
                        <select class="form-control" ng-model="model.orderStatusId" ng-init="model.orderStatusId = 1"
                                ng-options="orderStatus.id as orderStatus.name for orderStatus in orderStatuses">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label>מספר מגרש</label>
                        <input class="form-control" type="number" ng-model="model.fieldId" />
                    </div>
                </div>
                <div class='col-sm-push-1 col-sm-3'>
                    <div class='form-group'>
                        <label>שם מגרש</label>
                        <input class="form-control" type="text" ng-model="model.fieldName" />
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label>מתאריך</label>
                        <input class="form-control" ng-model="model.fromDate" moment-picker="model.fromDate"
                               locale="he" format="MM/DD/YYYY" min-view="month" max-view="month" autoclose="true"
                               today="true">
                    </div>
                </div>
                <div class='col-sm-push-1 col-sm-3'>
                    <div class='form-group'>
                        <label>עד תאריך</label>
                        <input class="form-control" ng-model="model.untilDate" moment-picker="model.untilDate"
                               locale="he" format="MM/DD/YYYY" min-view="month" max-view="month" autoclose="true"
                               today="true">
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label>מזהה לקוח</label>
                        <input class="form-control" type="number" ng-model="model.ownerId" />
                    </div>
                </div>
                <div class='col-sm-push-1 col-sm-3'>
                    <div class='form-group'>
                        <label>שם לקוח</label>
                        <input class="form-control" type="text" ng-model="model.ownerName" />
                    </div>
                </div>
                <div class="col-sm-push-5 col-sm-1">
                    <button type="submit" class="btn btn-primary btn-block btn-search" ng-click="submitSearch()">חפש</button>
                </div>
            </div>
		</form>
	</div>
    <div class="searchResults">
        <table class="table table-hover searchTable">
            <thead>
            <th>הזמנה</th>
            <th>מגרש</th>
            <th>תאריך</th>
            <th>לקוח</th>
            <th>סטטוס</th>
            <th>פעולות</th>
            </thead>
            <tbody>
                <tr ng-repeat="row in results">
                    <td>{{row.Id}}</td>
                    <td>{{row.Field.Id}} - {{row.Field.Name}}</td>
                    <!--<td>{{datefomart(row.StartDate) | date:'HH:mm dd/MM/yyyy'}}</td>-->
                    <td>{{row.StartDate | dateOrderFilter}}</td>
                    <td>{{row.Owner.Id}} - {{row.Owner.FirstName}} {{row.Owner.LastName}}</td>
                    <td>
                        <div ng-repeat="orderStatus in orderStatuses">
                            <div ng-if="orderStatus.id == row.Status">
                                {{orderStatus.name}}
                            </div>
                        </div>
                    </td>
                    <td ng-if="row.Status == 1">
                        <a href="" ng-click="acceptRejectOrder(row, 2)">אשר</a> <a href="" ng-click="acceptRejectOrder(row, 3)">דחה</a>
                    </td>
                    <td ng-if="row.Status == 2">
                        <a href="">צפה</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
