<div class="row">
    <div class="col-sm-12">
        <h1 class="pageTitle">חיפוש מגרשים פנויים</h1>
    </div>
</div>
		
<div class="row page">
	<div class="col-sm-12 searchPanel">
		<form class="form-horizontal" name="availableOrderForm" ng-submit="submitSearch(availableOrderForm.$valid)" novalidate>

            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="user_title">מספר מגרש</label>
                        <input class="form-control" type="number" ng-model="model.fieldId" />
                    </div>
                </div>
                <div class='col-sm-push-1 col-sm-3'>
                    <div class='form-group'>
                        <label>שם מגרש</label>
                        <input class="form-control" type="text" ng-model="model.fieldName" empty-to-null />
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'  ng-class="{ 'has-error' : availableOrderForm.searchDate.$invalid && submitted }">
                        <label for="user_title">תאריך</label>
                        <input name="searchDate" class="form-control" type="date" ng-model="model.date" required future />
                    
                        <div class="callout up three-errors" ng-show="availableOrderForm.searchDate.$invalid && submitted">
                            <div ng-show="availableOrderForm.searchDate.$error.required && submitted">יש להזין תאריך</div>
                            <div ng-show="availableOrderForm.searchDate.$error.date && submitted">יש להזין תאריך בפורמט MM/DD/YYYY</div>
                            <div ng-show="availableOrderForm.searchDate.$error.future && submitted">יש להזין תאריך עתידי</div>
                        </div>
                    </div>
                </div>
                <div class='col-sm-push-1 col-sm-3'>
                    <div class='form-group'>
                        <label>משחק</label>
                        <select class="form-control" ng-model="model.fieldType" ng-options="type.id as type.name for type in types">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-push-5 col-sm-1">
                    <button type="submit" class="btn btn-primary btn-block btn-search">חפש</button>
                </div>
            </div>		
		</form>
	</div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group text-danger" ng-show="availableOrderForm.$invalid && submitted" ng-class="{ 'has-error' : availableOrderForm.$invalid && submitted }">
                <p class="form-control-static">יש לתקן את השגיאות בשדות האדומים</p>
            </div>
        </div>
    </div>	

    <div class="searchResults">
        <table class="table table-hover searchTable">
            <thead>
            <th>מזהה</th>
            <th>מגרש</th>
            <th>תאריך</th>
            <th>פעולות</th>
            </thead>
            <tbody>
                <tr ng-repeat="row in results">
                    <td>{{row.Field.Id}}</td>
                    <td>{{row.Field.Name}}</td>
                    <td>{{row.StartDate | dateOrderFilter}}</td>
                    <td><a href="#/editOrder?order={{row}}">הזמן</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<pre style="float:left; direction:ltr">
{{model | json}}
</pre>