<div class="row">
    <div class="col-sm-12">
        <h1 class="pageTitle">חיפוש לקוחות</h1>
    </div>
</div>
	
<div class="row page">
	<div class="col-sm-12 searchPanel">
		<form class="form-horizontal">
            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="user_title">שם פרטי</label>
                        <input class="form-control" type="text" ng-model="model.firstName" empty-to-null />
                    </div>
                </div>
                <div class='col-sm-push-1 col-sm-3'>
                    <div class='form-group'>
                        <label>שם משפחה</label>
                        <input class="form-control" type="text" ng-model="model.lastName" empty-to-null />
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="user_title">מגיל</label>
                        <input class="form-control" type="number" ng-model="model.minAge" />
                    </div>
                </div>
                <div class='col-sm-push-1 col-sm-3'>
                    <div class='form-group'>
                        <label>עד גיל</label>
                        <input class="form-control" type="number" ng-model="model.maxAge" />
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label>מגורים</label>
                        <select class="form-control" ng-model="model.regionId" ng-options="type.id as type.name for type in types">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class='col-sm-push-1 col-sm-3'>
                    <div class='form-group'>
                        <label>מזהה</label>
                        <input class="form-control"  type="number" ng-model="model.customerId" />
                    </div>
                </div>
                <div class="col-sm-push-5 col-sm-1">
                    <button type="submit" class="btn btn-primary btn-block btn-search" ng-click="submitSearch()">חפש</button>
                </div>
            </div>			
		</form>
	</div>
    <div class="searchResults">
        <table class="table table-hover searchTable">
            <thead>
                <th>מזהה</th>
                <th>שם פרטי</th>
                <th>שם משפחה</th>
                <th>גיל</th>
                <th>מגורים</th>
                <th>פעולות</th>
            </thead>
            <tbody>
                <tr ng-repeat="row in results">
                    <td>{{row.Id}}</td>
                    <td>{{row.FirstName}}</td>
                    <td>{{row.LastName}}</td>
                    <td>{{row.BirthDate | ageFilter}}</td>
                    <td>
                        <div ng-repeat="regionType in types">
                            <div ng-if="regionType.id == row.Region">
                                {{regionType.name}}
                            </div>
                        </div>
                    </td>
                    <td><a href="#/editCustomer/{{row.Id}}">עבור לדף לקוח</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<pre style="float:left; direction: rtl">
    {{model | json}}
</pre>