<h1 class="pageTitle">חיפוש עובדים</h1>
		
<div class="page">
    <div class="searchPanel clearfix">
        <form>
            <div class="fieldContainer threePerRow">
	            <label>שם פרטי</label><input ng-model="model.firstName">				
            </div>
            <div class="fieldContainer threePerRow">
	            <label>שם משפחה</label><input ng-model="model.lastName">				
            </div>
            <div class="fieldContainer threePerRow newLine">
	            <label>אימייל</label><input ng-model="model.eMail">
            </div>
            <div class="fieldContainer threePerRow">
	            <label>מזהה</label><input ng-model="model.id">				
            </div>	
            <div class="fieldContainer threePerRow pullLeft newLine">
                <input type="button" value="חפש" class="btn" ng-click="submitSearch()">
            </div>					
        </form>
    </div>
    <table class="searchTable">
        <thead>
            <th>מזהה</th>
            <th>שם פרטי</th>
            <th>שם משפחה</th>
            <th>משכורת</th>
            <th>אימייל</th>
            <th>פעולות</th>
        </thead>
        <tbody>
            <tr ng-repeat="row in results">
                <td>{{row.Id}}</td>
                <td>{{row.FirstName}}</td>
                <td>{{row.LastName}}</td>
                <td>{{row.Salary}}</td>
                <td>{{row.Email}}</td>
                <td><a href="#/editEmployee/{{row.Id}}">עבור לדף העובד</a></td>
            </tr>
        </tbody>
    </table>
</div>