<div class="row">
    <div class="col-sm-12">
        <h1 class="pageTitle">חיפוש עובדים</h1>
    </div>
</div>
		
<div class="row page">
    <div class="col-sm-12 searchPanel">
        <form class="form-horizontal">

            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="user_title">שם פרטי</label>
                        <input class="form-control" type="text" ng-model="model.firstName" />
                    </div>
                </div>
                <div class='col-sm-push-1 col-sm-3'>
                    <div class='form-group'>
                        <label>שם משפחה</label>
                        <input class="form-control" type="text" ng-model="model.lastName" />
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="user_title">אימייל</label>
                        <input class="form-control" type="text" ng-model="model.eMail" />
                    </div>
                </div>
                <div class='col-sm-push-1 col-sm-3'>
                    <div class='form-group'>
                        <label>מזהה</label>
                        <input class="form-control" type="text" ng-model="model.id" />
                    </div>
                </div>
                <div class="col-sm-push-5 col-sm-1">
                    <button type="submit" class="btn btn-primary btn-block btn-search" ng-click="submitSearch()">חפש</button>
                </div>
            </div>

            <!--<div class="fieldContainer threePerRow">
	            <label>שם פרטי</label><input ng-model="model.firstName">				
            </div>
            <div class="fieldContainer threePerRow">
	            <label>שם משפחה</label><input ng-model="model.lastName">				
            </div>
            <div class="fieldContainer threePerRow newLine">
	            <label>אימייל</label><input ng-model="model.eMail">
            </div>
            <div class="fieldContainer threePerRow">
	            <label>מזהה</label><input ng-model="model.id">				
            </div>	
            <div class="fieldContainer threePerRow pullLeft newLine">
                <input type="button" value="חפש" class="btn" ng-click="submitSearch()">
            </div>-->					
        </form>
    </div>
    <div class="searchResults">
        <table class="table table-hover searchTable">
            <thead>
            <th>מזהה</th>
            <th>שם פרטי</th>
            <th>שם משפחה</th>
            <th>משכורת</th>
            <th>אימייל</th>
            <th>פעולות</th>
            </thead>
            <tbody>
                <tr ng-repeat="row in results">
                    <td>{{row.Id}}</td>
                    <td>{{row.FirstName}}</td>
                    <td>{{row.LastName}}</td>
                    <td>{{row.Salary}}</td>
                    <td>{{row.Email}}</td>
                    <td><a href="#/editEmployee/{{row.Id}}">עבור לדף העובד</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
