<h1 class="pageTitle">חיפוש לקוחות</h1>
		
<div class="page">
	<div class="searchPanel clearfix">
		<form>
			<div class="fieldContainer threePerRow">
				<label>שם פרטי</label><input ng-model="model.firstName">
			</div>
			<div class="fieldContainer threePerRow">
				<label>שם משפחה</label><input ng-model="model.lastName">
			</div>
			<div class="fieldContainer threePerRow newLine">
				<label>מגיל</label><input ng-model="model.minAge">
			</div>
			<div class="fieldContainer threePerRow">
				<label>עד גיל</label><input ng-model="model.maxAge">
			</div>
			<div class="fieldContainer threePerRow newLine">
				<label>מגורים</label><select ng-model="model.regionId" ng-options="type.id as type.name for type in types">
                    <option value=""></option>
                </select>
			</div>
			<div class="fieldContainer threePerRow">
				<label>מזהה</label><input ng-model="model.customerId">
			</div>	
			<div class="fieldContainer threePerRow pullLeft newLine">
				<input type="button" value="חפש" class="btn" ng-click="submitSearch()">
			</div>					
		</form>
	</div>
	<table class="searchTable">
		<thead>
			<th>מזהה</th>
			<th>שם פרטי</th>
			<th>שם משפחה</th>
			<th>גיל</th>
			<th>מגורים</th>
			<th>פעולות</th>
		</thead>
		<tbody>
            <tr ng-repeat="row in results">
                <td>{{row.Id}}</td>
                <td>{{row.FirstName}}</td>
                <td>{{row.LastName}}</td>
                <td >{{row.BirthDate | ageFilter}}</td>
                <td>
                    <div ng-repeat="regionType in types">
                        <div ng-if="regionType.id == row.Region">
                            {{regionType.name}}
                        </div>
                    </div>
                </td>
                <td><a href="#/editCotumer/{{row.CoustomerId}}">עבור לדף לקוח</a></td>
            </tr>
		</tbody>
	</table>
</div>