﻿<div class="row">
    <div class="col-sm-12">
        <h1 class="pageTitle">פרטי לקוח</h1>
    </div>
</div>
<div class="row page">
    <div class="col-sm-12 editPanel">
        <form class="form-horizontal" name="customerForm" ng-submit="submitCustomer(customerForm.$valid)" novalidate>
            <div class="row" ng-show="model.customer.FreezeDate > now">
                <div class="col-sm-3">
                    <div class="form-group text-danger">
                        <p class="form-control-static">הלקוח קפוא עד התאריך {{model.customer.FreezeDate | date : 'dd/MM/yyyy'}} </p>
                    </div>
                </div>
            </div>
            <div class='row' >
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label>שם משתמש</label>
                        <input class="form-control" type="text" ng-model="model.customer.Username" ng-disabled="true"/>
                    </div>
                </div>
                <div class='col-sm-offset-1 col-sm-3'>
                    <div class='form-group' ng-class="{ 'has-error' : customerForm.firstName.$invalid && submitted }">
                        <label>שם פרטי</label>
                        <input name="firstName" class="form-control" type="text" ng-model="model.customer.FirstName" 
                               ng-disabled="sharedVariables.userId != model.customer.Id || sharedVariables.role == 'Admin'" required ng-maxlength="20"/>
                        <div class="callout" ng-show="customerForm.firstName.$invalid && submitted">
                            <div ng-show="customerForm.firstName.$error.required && submitted">יש להזין שם פרטי</div>
                            <div ng-show="customerForm.firstName.$error.maxlength && submitted">שם פרטי חייב להיות קטן מ-20 תווים</div>
                        </div>
                    </div>
                </div>
                <div class='col-sm-offset-1 col-sm-3'>
                    <div class='form-group' ng-class="{ 'has-error' : customerForm.lastName.$invalid && submitted }">
                        <label>שם משפחה</label>
                        <input name="lastName" class="form-control" type="text" ng-model="model.customer.LastName" 
                               ng-disabled="sharedVariables.userId != model.customer.Id || sharedVariables.role == 'Admin'" required ng-maxlength="20"/>
                        <div class="callout" ng-show="customerForm.lastName.$invalid && submitted">
                            <div ng-show="customerForm.lastName.$error.required && submitted">יש להזין שם משפחה</div>
                            <div ng-show="customerForm.lastName.$error.maxlength && submitted">שם משפחה חייב להיות קטן מ-20 תווים</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row' ng-show="sharedVariables.userId == model.customer.Id && sharedVariables.role != 'Admin'">
                <div class='col-sm-3'>
                    <div class='form-group' ng-class="{ 'has-error' : customerForm.currentPassword.$invalid && submitted }">
                        <label>סיסמה נוכחית</label>
                        <input name="currentPassword" class="form-control" type="password" ng-model="model.passwordChanging.current" ng-required="model.passwordChanging.new" equalsornull="{{model.customer.Password}}" />
                        <div class="callout" ng-show="customerForm.currentPassword.$invalid && submitted">
                            <div ng-show="customerForm.currentPassword.$error.equalsornull && submitted">הסיסמא אינה הסיסמא הנוכחית</div>
                            <div ng-show="customerForm.currentPassword.$error.required && submitted">יש להזין סיסמר נוכחית</div>
                        </div>
                    </div>
                </div>
                <div class='col-sm-offset-1 col-sm-3'>
                    <div class='form-group' ng-class="{ 'has-error' : customerForm.newPassword.$invalid && submitted }">
                        <label>סיסמה חדשה</label>
                        <input name="newPassword" class="form-control" type="password" ng-model="model.passwordChanging.new" equals="{{model.passwordChanging.newVerify}}" />
                        <div class="callout" ng-show="customerForm.newPassword.$invalid && submitted">
                            <div ng-show="customerForm.newPassword.$error.equals && submitted">הסיסמא החדשה שונה מסיסמת האימות</div>
                        </div>
                    </div>
                </div>
                <div class='col-sm-offset-1 col-sm-3'>
                    <div class='form-group'>
                        <label>אימות סיסמא חדשה</label>
                        <input name="newVerifyPassword" class="form-control" type="password" ng-model="model.passwordChanging.newVerify" />
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label>תאריך לידה</label>
                        <text class="form-control" ng-model="model.customer.BirthDate" ng-disabled="true">
                            {{model.customer.BirthDate | date : 'dd/MM/yyyy'}}

                        </text>
                    </div>
                </div>
                <div class='col-sm-offset-1 col-sm-3'>
                    <div class='form-group' ng-class="{ 'has-error' : customerForm.email.$invalid && submitted }">
                        <label>אימייל</label>
                        <input name="email" class="form-control" type="email" ng-model="model.customer.Email"  required 
                               ng-disabled="sharedVariables.userId != model.customer.Id || sharedVariables.role == 'Admin'"/>
                        <div class="callout" ng-show="customerForm.email.$invalid && submitted">
                            <div ng-show="customerForm.email.$error.required && submitted">יש להזין אימייל</div>
                            <div ng-show="customerForm.email.$error.email && submitted">כותבת אימייל אינה חוקית</div>
                        </div>
                    </div>
                </div>
                <div class='col-sm-offset-1 col-sm-3'>
                    <div class='form-group'>
                        <label>מגורים</label>
                        <select class="form-control" ng-model="model.customer.Region" ng-disabled="sharedVariables.userId != model.customer.Id || sharedVariables.role == 'Admin'"
                                ng-options="type.id as type.name for type in regionTypes">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">

                <div ng-controller="CustomerModalCtrl as $ctrl">
                    <script type="text/ng-template" id="myModalContent.html">
                        <div class="searchResults">
                            <table class="table table-hover searchTable">
                                <thead>
                                <th colspan="3">פרטי מתלונן</th>
                                <th colspan="2">פרטי תלונה</th>
                                </thead>
                                <thead>
                                <th>מזהה</th>
                                <th>שם פרטי</th>
                                <th>שם משפחה</th>
                                <th>פרטי תלונה</th>
                                <th>תאריך</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in customerComplaints">
                                        <td>{{row.OffendedCustomer.Id}}</td>
                                        <td>{{row.OffendedCustomer.FirstName}}</td>
                                        <td>{{row.OffendedCustomer.LastName}}</td>
                                        <td>{{row.Description}}</td>
                                        <td>{{row.Date | date:'dd/MM/yyyy'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="button" ng-click="close()">סגור</button>
                        </div>
                    </script>

                    <script type="text/ng-template" id="customerReviews.html">
                        <div class="searchResults">
                            <table class="table table-hover searchTable">
                                <thead>
                                <th colspan="3">פרטי נותן חוו"ד</th>
                                <th colspan="3">פרטי חוו"ד</th>
                                </thead>
                                <thead>
                                <th>מזהה</th>
                                <th>שם פרטי</th>
                                <th>שם משפחה</th>
                                <th>תמצית</th>
                                <th>פירוט</th>
                                <th>תאריך</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in customerReviews">
                                        <td>{{row.Reviewer.Id}}</td>
                                        <td>{{row.Reviewer.FirstName}}</td>
                                        <td>{{row.Reviewer.LastName}}</td>
                                        <td>{{row.Title}}</td>
                                        <td>{{row.Description}}</td>
                                        <td>{{row.Date | date:'dd/MM/yyyy'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="button" ng-click="close()">סגור</button>
                        </div>
                    </script>

                    <div class="col-sm-2 col-sm-offset-6" ng-show="sharedVariables.role == 'Admin' || sharedVariables.userId == model.customer.Id">
                        <button type="button" class="btn btn-default btn-block btn-search" ng-click="$ctrl.open(getReviews, 'customerReviews.html')">צפה בחוות דעות</button>
                    </div>
                    <div class="col-sm-2" ng-show="sharedVariables.role == 'Admin'">
                        <button type="button" class="btn btn-default btn-block btn-search" ng-click="$ctrl.open(getComplaints, 'myModalContent.html')">צפה בתלונות</button>
                    </div>

                </div>


                <!-- As current user-->
                <div ng-show="sharedVariables.userId == model.customer.Id && sharedVariables.role != 'Admin'">
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-danger btn-block btn-search"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>בטל שינויים</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary btn-block btn-search"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>שמור</button>
                    </div>
                </div>
                <!-- As admin-->
                <div ng-show="sharedVariables.role == 'Admin'">
                    <div class="col-sm-2" ng-show="sharedVariables.role == 'Admin'">
                        <button type="button" class="btn btn-danger btn-block btn-search" ng-disabled="model.customer.FreezeDate > now"
                                ng-click="freezeCustomer()">הקפא חשבון ל-30 יום</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row page" ng-show="sharedVariables.role == 'Customer' && sharedVariables.userId != model.customer.Id">
    <div class="col-sm-12 editPanel">
        <form class="form-horizontal" name="reviewForm">
            <div class="row">
                <div class="col-sm-12" style="padding-right: 0; font-weight: bold" >
                    <span ng-show="reviewForm.$valid">{{model.review.Description ? model.review.Description.length : 0}}/1000</span>
                    <span class="text-danger" ng-show="reviewForm.$invalid">אנא הזן עד 1000 תווים</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12"  style="margin: 10px 0;   padding-right: 0">
                    <label style="margin-left: 5px;">כותרת</label>
                    <input class="form-control" type="text" style="width: auto; display: inline-block" ng-model="model.review.Title"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11">
                    <div class='form-group'>
                        <textarea class="form-control" required ng-maxlength="1000" ng-model="model.review.Description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="customerReviews.length>0">
                על משתמש זה נכתבו {{customerReviews.length}} <a href="" ng-controller="CustomerModalCtrl as $ctrl" ng-click="$ctrl.open(getReviews, 'customerReviews.html')">חוות דעת</a> ע"י לקוחות אחרים.
            </div>     
            <div class="row">
                <div class="col-sm-offset-10 col-sm-2">
                    <button type="button" class="btn btn-default btn-block btn-search" ng-click="saveReview()" ng-disabled="reviewForm.$invalid">שלח</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row page" ng-show="sharedVariables.role == 'Customer' && sharedVariables.userId != model.customer.Id">
    <div class="col-sm-12 editPanel">
        <form class="form-horizontal" name="complaintForm">
            <div class="row">
                <div class="col-sm-12" style="padding-right: 0; font-weight: bold">
                    המשתמש פגע בך? ספר לנו!
                    <span ng-show="complaintForm.$valid">{{model.complaint.Description ? model.complaint.Description.length : 0}}/1000</span>
                    <span class="text-danger" ng-show="complaintForm.$invalid">אנא הזן עד 1000 תווים</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="margin: 10px 0;   padding-right: 0">
                    <label style="margin-left: 5px;">סוג</label>
                    <select class="form-control" style="width: auto; display: inline-block; min-width: 200px" 
                            ng-model="model.complaint.Type" ng-options="type.id as type.name for type in complaintTypes">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11">
                    <div class='form-group'>
                        <textarea name="complaint" class="form-control" required ng-maxlength="1000" ng-model="model.complaint.Description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-10 col-sm-2">
                    <button type="button" class="btn btn-default btn-block btn-search" ng-click="saveComplaint()" ng-disabled="complaintForm.$invalid">שלח</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group form-errors text-danger" ng-show="customerForm.$invalid && submitted" ng-class="{ 'has-error' : customerForm.$invalid && submitted }">
            <p class="form-control-static">יש לתקן את השגיאות בשדות האדומים</p>
        </div>
    </div>
</div>