<!--<form class="loginForm">
	<fieldset>
		<div class="fieldContainer">
			<label>שם</label><input type="text" ng-model="model.username">
		</div>
		<div class="fieldContainer">
			<label>סיסמה</label><input type="password" ng-model="model.password">				
		</div>
        <a href="" ng-click="submitUser()">כנס</a>
		<span class="fullLine">משתמש חדש? לחץ <a href="#/registration">כאן</a> כדאי להירשם</span>				
	</fieldset>			
</form>-->


<div class="loginForm">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">שם</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" placeholder="הזן שם..." ng-model="model.username">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">סיסמה</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" placeholder="הזן סיסמה..." ng-model="model.password">
            </div>
        </div>
        <div class="form-group text-danger" ng-show="noUser || userFrozen" ng-class="{ 'has-error' : userForm.$invalid && submitted }" style="margin-bottom: 0; margin-top:-15px;">
            <p ng-show="noUser" class="form-control-static col-sm-offset-2" style="display:flex; align-items:center; padding: 0 15px; margin-bottom:0;"><strong>שם או סיסמה אינם נכונים</strong></p>
            <p ng-show="userFrozen" class="form-control-static col-sm-offset-2" style="display:flex; align-items:center; padding-right:15px; margin-bottom:0;"><strong>המשתמש הנוכחי קפוא...</strong></p>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="submitUser()">כנס</button>
                <span style="margin-right:10px">משתמש חדש? לחץ <a href="#/registrationForm">כאן</a> כדאי להירשם</span>
            </div>
        </div>
    </form>
</div>