<div class="row">
    <div class="col-sm-12">
        <h1 class="pageTitle">דוח פעילות לקוח</h1>
    </div>
</div>

<div class="row page">
	<div class="col-sm-12 searchPanel">
		<form class="form-horizontal">
            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label>שם פרטי</label>
                        <input class="form-control" type="text" ng-model="model.firstName" empty-to-null />
                    </div>
                </div>
                <div class='col-sm-push-1 col-sm-3'>
                    <div class='form-group'>
                        <label>שם משפחה</label>
                        <input class="form-control" type="text" ng-model="model.lastName" empty-to-null />
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label>מגיל</label>
                        <input class="form-control" type="number" ng-model="model.minAge" />
                    </div>
                </div>
                <div class='col-sm-push-1 col-sm-3'>
                    <div class='form-group'>
                        <label>עד גיל</label>
                        <input class="form-control" type="number" ng-model="model.maxAge" />
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'
                        moment-picker="model.fromDate"
                        locale="he"
                        format="l"
                        min-view="year"
                        max-view="month"
                        autoclose="true">
                        <label>מתאריך</label>
                        <input class="form-control" type="text" ng-model="model.fromDate" empty-to-null
                               ng-model-options="{ updateOn: 'blur' }" />
                    </div>
                </div>
                <div class='col-sm-push-1 col-sm-3'>
                    <div class='form-group'
                        moment-picker="model.untilDate"
                        locale="he"
                        format="l"
                        min-view="year"
                        max-view="month"
                        autoclose="true">
                        <label>עד תאריך</label>
                        <input class="form-control" type="text" ng-model="model.untilDate" empty-to-null
                               ng-model-options="{ updateOn: 'blur' }"  />
                    </div>
                </div>

                <div class="col-sm-push-5 col-sm-1">
                    <button type="submit" class="btn btn-primary btn-block btn-search" ng-click="submitSearch()">חפש</button>
                </div>
            </div>		
		</form>
	</div>
    <div class="searchResults">
        <table class="table table-hover searchTable scrollableTable">
            <thead>
            <th ng-click="sortBy('CoustomerId')"style="width: 9.1%">
                <span class="sortorder" ng-show="propertyName === 'CoustomerId'" ng-class="{reverse: reverse}"></span>מזהה
            </th>
            <th ng-click="sortBy('FirstName')" style="width: 11.1%">
                <span class="sortorder" ng-show="propertyName === 'FirstName'" ng-class="{reverse: reverse}"></span>שם פרטי
            </th>
            <th ng-click="sortBy('LastName')" style="width: 11.1%">
                <span class="sortorder" ng-show="propertyName === 'LastName'" ng-class="{reverse: reverse}"></span>שם משפחה
            </th>
            <th class="centeredCell" ng-click="sortBy('BirthDate')" style="width: 8.1%">
                <span class="sortorder" ng-show="propertyName === 'BirthDate'" ng-class="{reverse: reverse}"></span>גיל
            </th>
            <th ng-click="sortBy('LastGameDate')" style="width: 14.1%">
                <span class="sortorder" ng-show="propertyName === 'LastGameDate'" ng-class="{reverse: reverse}"></span>ת. הזמנה אחרונה
            </th>
            <th class="centeredCell" ng-click="sortBy('NumberOfOrders')" style="width: 11.1%">
                <span class="sortorder" ng-show="propertyName === 'NumberOfOrders'" ng-class="{reverse: reverse}"></span>הזמנות
            </th>
            <th class="centeredCell" ng-click="sortBy('NumberOfCanceledOrders')" style="width: 11.1%">
                <span class="sortorder" ng-show="propertyName === 'NumberOfCanceledOrders'" ng-class="{reverse: reverse}"></span>הזמנות שביטל
            </th>
            <th class="centeredCell" ng-click="sortBy('NumberOfJoiningAsGuest')" style="width: 13.1%">
                <span class="sortorder" ng-show="propertyName === 'NumberOfJoiningAsGuest'" ng-class="{reverse: reverse}"></span>הזמנות שהצטרף
            </th>
            <th style="width: 11.1%">
                פעולות
            </th>
            </thead>
            <tbody>
                <tr ng-repeat="row in results | orderBy:propertyName:reverse">
                    <td style="width: 9.1%">{{row.CoustomerId}}</td>
                    <td style="width: 11.1%">{{row.FirstName}}</td>
                    <td style="width: 11.1%">{{row.LastName}}</td>
                    <td class="centeredCell" style="width: 9.1%">{{row.BirthDate | ageFilter}}</td>
                    <td style="width: 14.1%">{{row.LastGameDate |  dateOrderFilter}}</td>
                    <td class="centeredCell" style="width: 11.1%">{{row.NumberOfOrders}}</td>
                    <td class="centeredCell" style="width: 11.1%">{{row.NumberOfCanceledOrders}}</td>
                    <td class="centeredCell" style="width: 12.1%">{{row.NumberOfJoiningAsGuest}}</td>
                    <td style="width: 11.1%"><a href="#/editCustomer/{{row.CoustomerId}}">עבור לדף לקוח {{row.CoustomerId}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>