<div class="row">
    <div class="col-sm-12">
        <h1 class="pageTitle">הזמנות פנויות להצטרפות</h1>
    </div>
</div>

<div class="row page">
    <div class="col-sm-12 searchPanel">
        <form class="form-horizontal" name="availableOrderToJoinForm" ng-submit="submitSearch(availableOrderToJoinForm.$valid)" novalidate>

            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label>מספר מזמין</label>
                        <input class="form-control" type="number" ng-model="model.ownerId" />
                    </div>
                </div>
                <div class='col-sm-push-1 col-sm-3'>
                    <div class='form-group'>
                        <label>שם מזמין</label>
                        <input class="form-control" type="text" ng-model="model.ownerName" empty-to-null />
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label>מספר הזמנה</label>
                        <input class="form-control" type="number" ng-model="model.orderId" />
                    </div>
                </div>
                <div class='col-sm-push-1 col-sm-3'>
                    <div class='form-group'>
                        <label>סטטוס הזמנה</label>
                        <select class="form-control" ng-model="model.orderStatusId" 
                                ng-options="orderStatus.id as orderStatus.name for orderStatus in orderStatuses">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label>מספר מגרש</label>
                        <input class="form-control" type="number" ng-model="model.fieldId" />
                    </div>
                </div>
                <div class='col-sm-push-1 col-sm-3'>
                    <div class='form-group'>
                        <label>שם מגרש</label>
                        <input class="form-control" type="text" ng-model="model.fieldName" empty-to-null />
                    </div>
                </div>
            </div>
      
            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group' ng-class="{ 'has-error' : availableOrderToJoinForm.fromDate.$invalid && submitted }"
                        moment-picker="model.fromDate"
                        locale="he"
                        format="l"
                        min-view="year"
                        max-view="month"
                        autoclose="true">
                        <label for="user_title">מתאריך</label>
                        <input name="fromDate" class="form-control" type="text" ng-model="model.fromDate" required future psdate empty-to-null
                               ng-model-options="{ updateOn: 'blur' }" />
                        <div class="callout up three-errors" ng-show="availableOrderToJoinForm.fromDate.$invalid && submitted">
                            <div ng-show="availableOrderToJoinForm.fromDate.$error.required && submitted">יש להזין תאריך</div>
                            <div ng-show="availableOrderToJoinForm.fromDate.$error.psdate && submitted">יש להזין תאריך בפורמט MM/DD/YYYY</div>
                            <div ng-show="availableOrderToJoinForm.fromDate.$error.future && submitted">יש להזין תאריך עתידי</div>
                        </div>
                    </div>
                </div>
                <div class='col-sm-push-1 col-sm-3'>
                    <div class='form-group'
                        moment-picker="model.untilDate"
                        locale="he"
                        format="l"
                        min-view="year"
                        max-view="month"
                        autoclose="true">
                        <label for="user_title">עד תאריך</label>
                        <input class="form-control" type="text" ng-model="model.untilDate" ng-model-options="{ updateOn: 'blur' }" empty-to-null />
                    </div>
                </div>
                <div class="col-sm-push-5 col-sm-1">
                    <button type="submit" class="btn btn-primary btn-block btn-search">חפש</button>
                </div>
            
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group form-errors text-danger" ng-show="availableOrderToJoinForm.$invalid && submitted" ng-class="{ 'has-error' : availableOrderToJoinForm.$invalid && submitted }">
                <p class="form-control-static">יש לתקן את השגיאות בשדות האדומים</p>
            </div>
        </div>
    </div>	

    <div class="searchResults">
        <table class="table table-hover searchTable scrollableTable">
            <thead>
            <th ng-click="sortBy('Id')" class="col-sm-2">
                <span class="sortorder" ng-show="propertyName === 'Id' " ng-class="{reverse: reverse}"></span>הזמנה
            </th>
            <th ng-click="sortBy('Field.Name')" class="col-sm-2">
                <span class="sortorder" ng-show="propertyName === 'Field.Name'" ng-class="{reverse: reverse}"></span>מגרש
            </th>
            <th ng-click="sortBy('StartDate')" class="col-sm-2">
                <span class="sortorder" ng-show="propertyName === 'StartDate'" ng-class="{reverse: reverse}"></span>תאריך
            </th>
            <th ng-click="sortBy('Owner.FirstName')" class="col-sm-2">
                <span class="sortorder" ng-show="propertyName === 'Owner.FirstName'" ng-class="{reverse: reverse}"></span>לקוח מזמין
            </th>
            <th ng-click="sortBy('Status')" class="col-sm-2">
                <span class="sortorder" ng-show="propertyName === 'Status'" ng-class="{reverse: reverse}"></span>סטטוס הזמנה
            </th>
            <th class="col-sm-2">
                פעולות
            </th>
            </thead>
            <tbody>
                <tr ng-repeat="row in results | orderBy:propertyName:reverse">
                    <td class="col-sm-2">{{row.Id}}</td>
                    <td class="col-sm-2">{{row.Field.Id}} - {{row.Field.Name}}</td>
                    <td class="col-sm-2">{{row.StartDate | dateOrderFilter}}</td>
                    <td class="col-sm-2">{{row.Owner.Id}} - {{row.Owner.FirstName}} {{row.Owner.LastName}}</td>
                    <td class="col-sm-2">
                        <div ng-repeat="orderStatus in orderStatuses">
                            <div ng-if="orderStatus.id == row.Status">
                                {{orderStatus.name}}
                            </div>
                        </div>
                    </td>
                    <td class="col-sm-2"><a href="#/editOrder/{{row.Id}}">צפה</a>  <a href="" ng-click="joinToOrder(row, $index)">בקש להצטרף</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>